<form [formGroup]="buscadorForm">

  <div class="contenedor-buscador">
    <h3>Buscador</h3>
    <div class="contenedor-inputs">

      <mat-form-field class="input periodo">
        <mat-label>Período</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="date">
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
          panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field class="input estado">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="estado">
          @for (estado of estados; track estado) {
          <mat-option [value]="estado.value">{{estado.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input cliente">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="cliente">
          @for (cliente of clientes; track cliente) {
          <mat-option [value]="cliente.value">{{cliente.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input proyecto">
        <mat-label>Proyecto</mat-label>
        <mat-select formControlName="proyecto">
          @for (proyecto of proyectos; track proyecto) {
          <mat-option [value]="proyecto.value">{{proyecto.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>


    <div class="contenedor-btn">
      <div class="btns">
        <button class="restaurar" mat-button>Restaurar</button>


            <button class="search-bar" (click)="actualizarFiltros()">
              <span class="material-symbols-outlined">
                search
                </span>
              buscar
            </button>
      </div>
    </div>

  </div>
</form>



