<form [formGroup]="buscadorForm">


  <div class="contenedor-buscador">
    <h3>Buscador</h3>
    <div class="contenedor-inputs">

      <mat-form-field>
        <mat-label>Month and Year</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="date">
        <mat-hint>MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
          panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field class="input estado">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="estado">
          @for (estado of estados; track estado) {
          <mat-option [value]="estado.value">{{estado.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input cliente">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="cliente">
          @for (cliente of clientes; track cliente) {
          <mat-option [value]="cliente.value">{{cliente.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input proyecto">
        <mat-label>Proyecto</mat-label>
        <mat-select formControlName="proyecto">
          @for (proyecto of proyectos; track proyecto) {
          <mat-option [value]="proyecto.value">{{proyecto.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

  </div>
</form>

<div class="contenedor-btns">

</div>
<div class="btns">
  <button class="restaurar" mat-button>Restaurar</button>
  <div class="search-bar">
    <span class="material-symbols-outlined">
      search
    </span>
    <input type="text" placeholder="Buscar" [(ngModel)]="searchQuery" (input)="onSearch()">
  </div>
</div>