h3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  text-align: left;

}

form {
  width: 100%;
  height: auto;
  padding: 1rem;
}

.contenedor-buscador {
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: .3rem;
  padding: 1rem;
}

.contenedor-inputs {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

/* botones */
.contenedor-btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
}

.btns {
  display: flex;
  max-width: 600px;
  margin: 8px 8px 8px 0;
}

.btns button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;

}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  width: 24px;
  height: 24px;
  font-weight: 400;
  color: rgba(163, 163, 163, 1);


}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.15);
  border-radius: .3rem;
  cursor: pointer;
  transition: all .2s ease;
}

.btn-invalid{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #252323;
  color: #fefefe;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all .2s ease;

}
.search-bar input {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 100%;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;

}

.search-bar input:focus {
  outline: none;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.contenedor-btn {
  display: flex;
  width: 100%;
  justify-content: end;

}

.btns {
  display: flex;
  max-width: 600px;
  margin: 8px 8px 8px 0;
  align-items: center;

}

.btns restaurar {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(204, 10, 45);
  color: white;
  width: 110px;
  height: 40px;
  border-radius: 4px;


}

.search-bar span {
  color: white;
}