CSS DE PERIODOS


*{
  box-sizing: border-box;
}

h3{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  color:rgba(0, 0, 0, 1);

}

.contenedor-periodos{
  height: 323px;
  top: 132px;
  left: 236px;
  gap: 0px;
  border-radius: 4px;
  opacity: 0px;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  display: block;
  align-items: center;


}

.datepicker{
  width: 191px;
  top: 235.67px;
  left: 260px;
  gap: 0px;
  border-radius: 4px 4px 0px 0px;
  opacity: 0px;

}

.mat-mdc-form-field-bottom-align{
  margin: 0;
  padding: 0;
}

.contenedor-selector-periodos{
  width: 365px;

}

.selector-periodos{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.btns{
  margin-bottom: 25px;
  height: 39.87px;
  top: 243.65px;
  left: 467px;
  gap: 8px;
  opacity: 0px;
  display: flex;
  justify-content: space-evenly;

}

.btns .cerrar{
  width:71px;
  height:40px;
  padding: 0px 16px 0px 16px;
  gap: 10px;
  border-radius: 4px;
  opacity: 0px;
  background-color: rgba(217, 217, 217, 1);
  border: none;

}

.btns .abrir{
  width: 63px;
  height: 40px;
  padding: 0px 16px 0px 16px;
  gap: 10px;
  border-radius: 4px;
  opacity: 0px;
  background-color: rgba(217, 217, 217, 1);
  border: none;
}

td{
  display: flex;
}

.fila-1{
  border-top: 1px solid rgba(211, 211, 211, 1);
  border-bottom: 1px solid rgba(211, 211, 211, 1);

}


.fila-2{
  border-bottom: 1px solid grey;
  border-color: rgba(211, 211, 211, 1);


}


.grid-tabla {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columnas de igual tamaño */
  grid-auto-rows: minmax(50px, auto); /* Altura mínima de las filas */
}

/* Estilo para las celdas de la primera fila */
.fila-1 {
  grid-row: 1; /* Colocar en la primera fila */
}

/* Estilo para las celdas de la segunda fila */
.fila-2 {
  grid-row: 2; /* Colocar en la segunda fila */
}

.casilla {
  padding: 10px; /* Espaciado interno */
}


.casilla{
  width: 120px;
  height: 40px;
  padding: 0px 16px 0px 16px;
  gap: 10px;
  color: rgba(117, 117, 117, 1);
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;


}
